<mat-spinner *ngIf="loading" class="center"></mat-spinner>
<div class="text-center">
    <button mat-icon-button color="primary" (click)="leftPage()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <input [(ngModel)]="pageVariable" name="pageVariable" (change)="onChange($event)">
      <button mat-icon-button color="primary" (click)="rightPage()">
        <mat-icon>chevron_right</mat-icon>
      </button>
</div>
<pdf-viewer [src]="doc" [page]="pageVariable" [autoresize]="true" [original-size]="false"  [zoom-scale]="'page-fit'" [show-all]="false" [render-text]="true">
</pdf-viewer>
