.center {
    position: fixed;
    top: 50%;
    left: 50%;
  }

  .frame {
    height: 700px;
    width: 800px;
  }

  @media screen and (min-width: 500px) {
    .viewer {
      height: 100vh;
    }
  }