<mat-toolbar *ngIf="toolbar" color="primary" class="toolbar mb-5">
    <a href="/">
      <img src="./assets/images/artizekalogo.png">
    </a>
    <div *ngFor="let b of branches">
      <button mat-button [matMenuTriggerFor]="menu">{{b.name}} <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div *ngFor="let g of b.grades">
      <button (click)="getbooks(g.id)" mat-menu-item>{{g.name}}</button>
      </div>
    </mat-menu>
    </div>

  </mat-toolbar>
  
  <mat-spinner *ngIf="loading" class="center"></mat-spinner>
