<div class="container">
    <div class="row">



      <div *ngFor="let b of branches">
        <div class="col-12" >
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{b.name}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div *ngFor="let g of b.grades">
                        {{g.name}}
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
          </div>
      </div>
      
    </div>
  </div>